extends layout

block content
    div
        h1 Vielen dank für ihr Feedback!
     
    form(action="karte") 
        div.w-25.p-3
            input.btn-success.btn(type="submit", value="Zurück zu der Karte")