extends layout

block content
    div.p-3
      h2 Registrierung
      form(action="registrierung")
        div.w-100.p-3
          input.form-control-lg(type="text", name="E-mail", placeholder="E-mail")
        div.w-100.p-3
          input.form-control-lg(type="password", name="Passwort", placeholder="Passwort")
        div.w-100.p-3
          input.form-control-lg(type="text", name="Nickname", placeholder="Benutzername")

        div.w-100.p-3
          input.btn-lg.btn-success.btn(type="submit", value="Registrieren")