extends layout

block content
    div.p-0.m-0(style="height:300px;width:500px")
        div.w-100.h-100.d-inline-block(style="background-image: url('/images/karte2.png');")
            a(onclick="showDiv();") fghjk

    div#f2(style="visibility:hidden;width:500px") 
        div
            h2 Spielplatz: Am Quartier am Turm

      
        div 
            h3 Letze Meldungen

        div.w-100
            table.table
                tbody
                    tr 
                        th.w-50 Problem
                        th.w-50 Status

                    tr
                        td 
                            a(href="problem") Schauckel defekt
                        td   
                            a(href="problem")   Neu
                    tr
                        td Ruschte defekt
                        td erledigt

           
