extends layout-pc

block content
    div.p-0.m-0
        a(onclick="showDiv();")
            img(src="/images/karte2b.png")
    div.small.text-center.pl-3.pr-3 Bitte wähle einen Spielplatz auf der Karte aus.            

    div.p-3#f2(style="visibility:hidden;width:1024px") 
        div.p-3
            h2 Spielplatz: Am Quartier am Turm
    
        div.p-3 
            h3 Letze Meldungen

        div.w-100
            table.table
                tbody
                    tr 
                        th.w-50 Problem
                        th.w-50 Status

                    tr
                        td.alert.alert-danger 
                            a.alert-danger(href="problem") Schauckel defekt
                        td.alert.alert-danger  
                            a.alert-danger(href="problem")   Neu
                    tr
                        td.alert.alert-success Ruschte defekt
                        td.alert.alert-success erledigt

        
