doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap-4.3.1-dist/css/bootstrap.min.css')
    script(src='/javascripts/function.js') 
  body.p-0.m-0
    nav(class="navbar navbar-dark bg-dark") 
      div.p-0.m-0.text-light Spielplatz App
    block content
    