doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap-4.3.1-dist/css/bootstrap.min.css')
    script(src='/javascripts/function.js') 
  body.p-0.m-0(style="width:100%")
    div(style="width:100%")
      nav(class="navbar navbar-dark bg-dark" ) 
        div.p-0.m-0.text-light Spielplatz App
        div.nav.navbar-nav.navbar-right
          a.text-muted(href="/impressum") Impressum
      div(style="width:1024px")
        block content
    