extends layout

block content
    div.p-3
        h2 Vielen dank für ihre Registrierung 
        form(action="karte")
            div.w-100.p-3
                input.btn-success.btn.btn-lg(type="submit", value="Los geht`s")






